*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content:  center;
    align-items: center;
    min-height: 200vh;
    background: #ffffff;
    flex-direction: column;
    grid-gap: 100px;
    flex-direction: column;
    grap: 50px;
}

a {
    position: relative;
    background: #000000b3;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 10px 30px;
    transition: 0.5s;
}

a:hover{
    background: var(--clr);
    letter-spacing: 0.2rem;
    box-shadow: 0 0 35px; var(--clr)
}

a:before{
    content:'' ;
    position: absolute;
    inset:2px;
    backoground:#27282c;
}
